/* 使用CSS-module 解决classname可能会重复的问题 */
.list-item{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    &:hover{
        box-shadow: 0 4px 6px #ccc;
    }
    .content{
        display: flex;
        .left{
            flex: 1;
        }
        .right{
            flex: 1;
            text-align: right;
            span{
                margin-right: 10px;
            }
        }
    }
    .content-btn{
        display: flex;
        .left{
            flex: 1;
        }
        .right{
            flex: 1;
            text-align: right;
        }
    }
}