.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #f0f2f5;
}
.content-wrapper{
    flex: auto;
    padding: 12px 0;
}
.content{
    display: flex;
    height: 100%;
    margin: 0 24px;
    .left{
        padding: 0 12px;
        width: 285px;
        background-color: #fff;
    }
    .main{
        flex: 1;
        position: relative;
        overflow: hidden;
        .canvas-warpper{
            position: absolute;
            top: 50%;
            left: 50%;
            height: 912px;
            width: 400px;
            transform: translate(-50%, -50%);
            box-shadow: 0 2px 6px #0000001f;
            background-color: #fff;
            overflow: auto;
        }
    }
    .right{
        padding: 0 12px;
        width: 285px;
        background-color: #fff;
    }
}