.head{
    background: black;
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    clear: both;
}
.main{
    height: calc(100vh - 64px - 75px);
    // overflow-y: hidden;
    // margin-bottom: 75px;
    // height: 100vh;
}
.footer{
    text-align: center;
    background-color: #f7f7f7;
    // border: 1px solid #e8e8e8;
    // position: fixed;
    // bottom: 0;
    // width: 100%;
}